@font-face {
font-family: customFont;
            src: url('fonts/Engravers Old English Normal.ttf');
}
h1 {
            font-family: customFont;
            font-size: 50px;
            color: #494949;
}
h2 {
            font-family: monospace;
            font-size: 20px;
            color: #494949;
            background-color: #ffffff;
}
.button {
            height: 40px;
            width: 120px;
            font-size: 20px;
            font-family: monospace;
            color: #606060;
}
input[type="submit"]:hover,
.button:hover {
            border-color: #606060;
            color: #606060 !important;
}
.button.button-shadow {
            transition: 0.1s;
}

.button-shadow:hover {
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 16px 0 rgba(0, 0, 0, 0.19);
}
.button.button-zoom {
            transition: transform 0.2s;
}
.button-zoom:hover {
            transform: scale(1.05);
}
.textarea {
            height: 200px;
            width: 700px;
}
body {
            background:url(/static/css/images/paper2.jpg) no-repeat center center;
}
