<!DOCTYPE html>
<html>
    <head>
        <title>NEWS SEGMENTATION API</title>
        <link rel="stylesheet" href='{{ url_for('static', filename='css/main.css') }}'}">
    </head>
    <body>
        <div>
            <form action="{{ url_for('predict')}}" method="post">
                <div>
                <center><h1>The News Segmentation Api</h1></center>
                <center><a href="https://github.com/AnityaGan9urde/NEWS-segmentation-project">View Code</a></center>
                <center>
                    <table>
                        <tr>
                            <td>
                            <select>
                                <option value="Bert"><button>Bert Model</button><br><br></option>
                                <option value="LR"><button>Logistic Regression</button></option>
                            </select>
                            </td>
                            <td>
                                <textarea name="article" class="textarea" placeholder="Copy-paste a News article here..." required></textarea><center>
                            </td>
                        </tr>
                    </table>
                </div><br>
                <div><center><button type="submit" class="button button-shadow button-zoom"><b>Predict</b></button></center></div><br><br>
                <center><h2>{{prediction_text}}</h2></center>
            </form>
        </div>
    </body>
</html>
