{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>NEWS CLASSIFIER API</title>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <div>
            <center>
            {% if pred_topic %}
            <form method="post" action="savedb">
            {% else %}
            <form action="predict" method="post">
            {% endif %}
            {% csrf_token %}
            <hr>
            <h1 style="color: #606060;">Type a News Article headline to know its topic:</h1>
            <a href="https://github.com/AnityaGan9urde/NEWS-Headline-Classifier-project">View Source Code</a>
                <hr>
                <div>
                    <br><br>
                    <label for="model" style="color: #858b97;">Select a model:<br><br></label>
                    <select name="model">
                        <option name="Bert" value="Bert">Bert Model</option>
                        <option name="LR" value="LR">Logistic Regression</option>
                    </select><br><br>

                    <label for="quant" style="color: #858b97;">Top 'N' predictions:<br><br></label>
                    <select name="quant">
                        <option name="5" value="5">Top 5 predictions</option>
                        <option name="10" value="10">Top 10 predictions</option>
                        <option name="20" value="20">Top 20 predictions</option>
                    </select><br>
                </div>

            
            <br>
            <h2 style="color: #606060;">
            {% if op_dict %}
            <table>
            <tr><td><i>Topic</i></td><td>| <i>Probability</i></td></tr>
            <hr>
            {% for pos, val in op_dict.items %}
                <tr><td><b>{{ pos }}</b> </td><td>| {{ val }} % </td></tr>
            {% endfor %}
            </table>
            {% endif %}
            </h2>
            <div class="form-group">
                <textarea name="headline" class="form-field" placeholder="Type a News Article Headline"></textarea>
                {% if pred_topic %}
                <br>
                <h3 style="color: #606060;">If the response is good enough you can save it to the database. Do you want to save it?</h3>
                <input type="hidden" name="headline" value={{headline}}>
                <input type="hidden" name="topic" value={{pred_topic}}>
                <input type="hidden" name="model" value={{model}}>
                <button type="submit"><b style="color: #606060;">Save To DataBase</b></button>
                <button type="submit" src="index.html"><b style="color: #606060;">No</b></button>
                {% else %}
                <button type="submit"><b style="color: #606060;">Predict</b></button>
                {% endif %}
            </div>
        </form>
        <br><br>
        <hr>
        </center>
        </div>
    </body>
</html>
